<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <ResourceId>/subscriptions/97c87a23-e782-41f3-aaba-66112df4974a/resourceGroups/dotnetrg/providers/Microsoft.Web/sites/testdotnetweb</ResourceId>
    <ResourceGroup>dotnetrg</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>http://testdotnetweb.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>021f5586-043c-4c9f-8bc1-fff283db3d80</ProjectGuid>
    <PublishUrl>https://testdotnetweb.scm.azurewebsites.net/</PublishUrl>
    <UserName>$testdotnetweb</UserName>
    <_SavePWD>true</_SavePWD>
  </PropertyGroup>
</Project>